@page
@model BookingApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModel[0].GuestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModel[0].HotelID)
            </th>
            <th>
                @Html.DisplayName("Available Rooms")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModel[0].NoOfRooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReservationViewModel)
        {
            
        <tr>
            <td>
                @Html.TextBoxFor(modelItem => item.GuestName)
            </td>
            <td>
                @item.HotelID
            </td>
            <td>
                @item.AvailableRooms
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.NoOfRooms)
            </td>
            <td>
                <a hotel-id="@item" value="Book">submit</a>
            </td>
        </tr>
            
            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfRooms)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>*@


        }
    </tbody>
</table>
